{% extends "RecordEvent/nav.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block content %}
    <link rel="stylesheet" href="{% static 'TreatmentAid/css/Downloadscss.css' %}"/>

<h1>Downloads </h1>

        <div  class="padded">
            <div class="row inline download-header">
                <div class="col-lg-4">
                    <h3>Filename</h3>
                </div>
                <div class="col-lg-4">
                    <h3>Description</h3>
                </div>
            </div>
        </div>

{% for down in download %}
    <div  class="padded">
      <div class="row inline download-body">
        <div class="col-lg-4"><p class="">
            {{ down.filename }}
        </p></div>
          <div class="col-lg-4">
        <p class="">
          {{down.description}}
        </p></div>
          <div class="col-lg-4">
              <a href="{{ down.url }}" download>
       <button class="col-lg-4" type="button">
            Download </button></a></div>
      </div>
    </div>
    <script src="{% static 'TreatmentAid/scripts/Download.js' %}"></script>
{% endfor %}
{% endblock %}
