{% block content %}

<!-- TODO: upon success, redirect to RecordEvent -->
<!-- TODO: validate against Users in DB, not admin -->

    <header>
        <h1>LogIn</h1>
        {% if user.is_authenticated %}
          Hi {{ user.username }}!
          <a href="">logout</a>
        {% else %}
          <a href="">login</a>
        {% endif %}
      </header>
      <hr>
      <main>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
      </form>
      </main>

{% endblock %}