.download-header{
    border-bottom: 3px ridge #999999;
}
.padded{
    padding-bottom: 30px;
}

.download-body{
    border-bottom: 1px solid #999999;
    /*padding-left:10px;*/
}
#log-container{
    padding-left: -1px;
}