
{% extends "RecordEvent/nav.html" %}

{% block content %}

<div class="container-fixed" contenteditable="false">
  <h1 class="">Record Event</h1>
<form action="" method="post">
    {% csrf_token %}

<div class="row">
  <div class="dropdown padding col-lg-6">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span id="dropdownTitle" class="" max="" min="">Measurable</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    {% include 'RecordEvent/includes/EntryDropdown.html' %}
  </ul>
</div>
    <div class="col-lg-3"> <a class="pull-right" href="collect/AddMeasurable">Create Measurable</a></div>
    </div>



    <div class=" inline padding row " >
   <div class="col-lg-1"><p class="centerVert" >Value:</p></div>
     <div class="col-lg-5"> <input id="id_valueText"  type="number" name="value" value="value" placeholder="text input" max="" min="" step="1" class="form-control"/></div>
  </div>


{#  <div class="inline padding row">#}
{#      <div class="col-lg-1"> <p class="">Tags:</p></div>#}
{#  		<div class="input-group col-lg-5">#}
{#      <input  id="id_tagText"  name="tags" value="" type="text" class="form-control" placeholder="Search for...">#}
{#      <span class="input-group-btn">#}
{#        <button class="btn btn-default" type="button">Insert Tag</button>#}
{#      </span>#}
{#    </div>#}
{#  </div>#}

  <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Location:</p></div>
  		<div class="col-lg-5"><input id="locationText" name="location" value="" type="text" placeholder="text input" class="form-control"></div>
  </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Date: </p></div>
  		<div class="col-lg-5"><input type="text" name="date"  placeholder="Default Now" style="cursor: pointer" readonly="readonly" id="DatePicker" class="form-control read"></div>
    </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Time: </p></div>
  		<div class="col-lg-5"><input type="text" name="time" value="" placeholder="Default now" style="cursor: pointer" readonly="readonly" id="TimePicker" class="time_element form-control read"></div>
    </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Log: </p></div>
  		<div class="col-lg-5"><textarea  placeholder="text input" name="log" value="" id="LogText" class="form-control"></textarea></div>
    </div>

    <input id="measurable" type="text" style="display: none" value="-1" name="measureId"/>


    <div class="inline padding row">
  		<div class="col-lg-6"> <input id="submitDisabled" class="pull-right disabled" type="submit" disabled="disabled" ></input></div>
    </div>

</form>

{#<script>#}
{#    var theDate=new Date();#}
{#    document.getElementById("DatePicker").value="Testing";#}
{#    console.log("working");#}
{#</script>#}

<script>
    var theDate= new Date();

    var dateStr=(theDate.getMonth()+1)+'/'+theDate.getDate()+'/'+theDate.getFullYear();
    var timeStr=theDate.getHours()+':'+theDate.getMinutes();
    document.getElementById("DatePicker").value=dateStr;
    document.getElementById("TimePicker").value=timeStr;
    console.log(dateStr);
    console.log(timeStr);
</script>

<script type='text/javascript'>
	$('#TimePicker').timepicki({min_hour_value:0,max_hour_value:23,show_meridian:false});
    </script>

</div>

{% endblock %}