
{% extends "RecordEvent/nav.html" %}

{% block content %}
<div class="container-fixed" contenteditable="false">
  <h1 class="">Record Event</h1>

<div class="row">
  <div class="dropdown padding col-lg-6">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Action</a></li>
    <li><a href="#">Another action</a></li>
    <li><a href="#">Something else here</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>
    <div class="col-lg-3"> <a class="pull-right" href="#">Create Measurable</a></div>
    </div>

  <div class=" inline padding row " >
   <div class="col-lg-1"><p class="centerVert"  >Value:</p></div>
     <div class="col-lg-5"> <input type="number" placeholder="text input" class="form-control"/></div>
  </div>

  <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Tags:</p></div>
  		<div class="input-group col-lg-5">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Insert Tag</button>
      </span>
    </div>
  </div>

  <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Location:</p></div>
  		<div class="col-lg-5"><input type="text" placeholder="text input" class="form-control"></div>
  </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Date: </p></div>
  		<div class="col-lg-5"><input type="text" placeholder="text input" id="DatePicker" class="form-control"></div>
    </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Time: </p></div>
  		<div class="col-lg-5"><input type="text" placeholder="text input" id="TimePicker" class="time_element form-control"></div>
    </div>

    <div class="inline padding row">
      <div class="col-lg-1"> <p class="">Log: </p></div>
  		<div class="col-lg-5"><textarea  placeholder="text input" id="TimePicker" class="form-control"></textarea></div>
    </div>
 <div class="inline padding row">
      <button class="pull-right" type="button" aria-haspopup="true" aria-expanded="true">Submit</button>
    </div>

</div>
{% endblock %}