{% extends "RecordEvent/nav.html" %}
{% load staticfiles %}

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>

{% block content %}
{% csrf_token %}

<div class="padded">
    <div class="download-header">
        <div class="row inline download-header">
            <div class="col-lg-6">
                 <div class="dropdown padding pull-right">
                      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span id="MeasurableDropdownTitle" class="">Measurable</span>
                        <span class="caret"></span>
                      </button>
                      <ul id="measurable-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% include 'RecordEvent/includes/EntryDropdown.html' %}
                      </ul>
                 </div>
            </div>
            <div class="col-lg-6">
                <div class="dropdown padding">
                  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="TimeDropdownTitle" class="" max="" min="">Month</span>
                    <span class="caret"></span>
                  </button>
                  <ul id="time-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                      <li class="Day"><a  href="#">Day</a></li>
                      <li class="Week"><a href="#">Week</a></li>
                      <li class="Month"><a href="#">Month</a></li>
                      <li class="3 Months"><a href="#">3 Months</a></li>
                      <li class="6 Months"><a href="#">6 Month</a></li>
                      <li class="Year"><a href="#">Year</a></li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'DisplayData/Scripts/dropScript.js' %}"></script>



<div class='padded'>
	<div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
		<h1>Graph Data</h1>
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>	
</div>

<script>
{% block jquery %}
//var endpoint = 'display/api/chart/data/'
var endpoint = 'api/data/'
var defaultData = []
var defaultLabels = [];
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		defaultLabels = data.labels
		defaultData = data.default
		console.log(data)
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: defaultLabels,
		        datasets: [{
		            label: '# Measurable',
		            data: defaultData,
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})
{% endblock %}
</script>

{% endblock %}
