{% extends "RecordEvent/nav.html" %}

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>


{% block content %}

<div class="row">
	<h4>Enter measurable number:</h4>
	<form method="POST">
		{% csrf_token %}
		<input type="number" name="textfield">
		<button type="submit">Submit</button>
	</form>
</div>

<script>
	$("textfield").submit(function(e) {

	    var url = "display/api/chart/data/"; // the script where you handle the form input.

	    $.ajax({
	           type: "POST",
	           url: url,
	           data: $("textfield").serialize(), // serializes the form's elements.
	           success: function(data)
	           {
	               alert(data); // show response from the php script.
	           }
	         });

	    e.preventDefault(); // avoid to execute the actual submit of the form.
	});
</script>


<div class='padded'>
	<div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
		<h1>Graph Data</h1>
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>	
</div>

<script>
{% block jquery %}
var endpoint = 'display/api/chart/data/'
var defaultData = []
var defaultLabels = [];
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		defaultLabels = data.labels
		defaultData = data.default
		console.log(data)
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'line',
		    data: {
		        labels: defaultLabels,
		        datasets: [{
		            label: '# Measurable',
		            data: defaultData,
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})

{% endblock %}

</script>

{% endblock %}
