{% extends "RecordEvent/nav.html" %}

<head>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
</head>


{% block content %}

<div class='row'>
	<div class='col-sm-12' url-endpoint='{% url "api-data" %}'>
		<h1>Graph Data</h1>
		<canvas id="myChart" width="400" height="400"></canvas>
	</div>	
</div>

<script>
{% block jquery %}
var endpoint = 'display/api/chart/data/'
var defaultData = []
var defaultLabels = [];
$.ajax({
	method: "GET",
	url: endpoint,
	success: function(data){
		defaultLabels = data.labels
		defaultData = data.default
		console.log(data)
		var ctx = document.getElementById("myChart");
		var myChart = new Chart(ctx, {
		    type: 'bar',
		    data: {
		        labels: defaultLabels,
		        datasets: [{
		            label: '# Parent',
		            data: defaultData,
		            borderWidth: 1
		        }]
		    },
		    options: {
		        scales: {
		            yAxes: [{
		                ticks: {
		                    beginAtZero:true
		                }
		            }]
		        }
		    }
		});
	},
	error: function(error_data){
		console.log("error")
		console.log(error_data)
	}
})

{% endblock %}

</script>

{% endblock %}
